<header class="site-header bg-dark text-white-0_5">
    <div class="container">
        <div class="row align-items-center justify-content-between mx-0">
            <ul class="list-inline d-none d-lg-block mb-0">
                <li class="list-inline-item mr-3">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-clock mr-2"></i>
                        <span class="horario">Horario de atención: Lunes a viernes de 6:00 a.m a 9:00 p.m - Sábados de
                            8:00 a.m a
                            6:00 p.m</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>