<footer>
    <div class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm col-md">
                    <img src="/assets/img/logo-sofka.webp" alt="Logo BECL" height="100" style="background-color: #fff;">
                    <div class="mt-2">
                        <p class="descripcion">Somos una institución de educación no formal creada por Sofka
                            Technologies que busca transformar el entrenamiento en la industria TI en latinoamérica.</p>
                    </div>
                </div>
                <div class="col-sm col-md">
                    <h2>Explora</h2>
                    <ul class="list-unstyled text-small">
                        <li><a routerLink="/">Inicio</a></li>
                        <li><a routerLink="../shuttlevehicle/shuttlevehicles-list">Shuttle Vehicle</a></li>
                        <li><a routerLink="../mannedspaceship/mannedspaceships-list">Manned Spaceship</a></li>
                        <li><a routerLink="../unmannedspaceship/unmannedspaceships-list">Unmanned Spaceship</a></li>
                    </ul>
                </div>
                <div class="col-sm col-md">
                    <h2>Contáctanos</h2>
                    <address>
                        Cl. 12 # 30-80 El Poblado <br />
                        Medellín, Antioquia - Colombia <br />
                        Teléfono +57 (4) 2668907 <br /> <br />

                        Solicitudes y correspondencia<br />
                        <a href="mailto:comercial@sofka.com.co" class="">comercial@sofka.com.co</a><br><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center py-3">
        <span>&copy; {{ anio }} SofkaU. All Rights Reserved.</span>
    </div>

</footer>