.card {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: fixed;
    top: 100px;
    left: 600px;
    z-index: 9999;
    width: 40%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
